# OOPs

In [10]:
class math:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a-self.b
    def div(self):
        return self.a-self.b
    def mul(self):
        return self.a*self.b

In [15]:
cal=math(10,20)
cal.add()
cal.sub()
cal.div()
cal.mul()

200

In [22]:
class math1:
    a=10
    b=20
    def add():
        return a+b
    def sub():
        return a-b
    def div():
        return a-b
    def mul():
        return a*b

In [24]:
s1=math1()
s1.add()

TypeError: add() takes 0 positional arguments but 1 was given

In [1]:
class person:
    def __init__(self,id,name):
        self.id=id
        self.name=name
    def display(self):
        print("ID of a person=",self.id,"Name=",self.name)

In [3]:
p1=person(12,"John")
p2=person(13,"Jack")
p1.display()
p2.display()

ID of a person= 12 Name= John
ID of a person= 13 Name= Jack

In [5]:
p1.name

'John'

In [7]:
p1.id

12

In [16]:
class Employee:
    revenue=10000
    
    def __init__(self,name,location,number_of_employees):
        self.name=name
        self.location=location
        self.number_of_employees=number_of_employees

In [17]:
e1=Employee("John","London",12)

print("Name=",e1.name)
print("Location=",e1.location)
print("Number of employees=",e1.number_of_employees)
Employee.revenue
#print(e1.name)
#print(e1.location)
#print(e1.number_of_employees)

Name= John
Location= London
Number of employees= 12

10000

In [18]:
class car:
    
    def __init__(self,company,color):
        self.company=company
        self.color=color
        
        
    def display(self):
        print("This is a",self.company,self.color)

In [19]:
def main():
    c=car("Ferrari","Red")
    c.display()

In [21]:
if __name__=="__main__":
    main()

This is a Ferrari Red

In [25]:
class Employee:
    
    def __init__(self,name,age):
        print("Initialization method called")
        self.name=name
        self.age=age
        
    def getdata(self,name,age):
        print("Getdata method called")
        self.name=name
        self.age=age
        
    def display_data(self):
        print("Name=",self.name,"Age=",self.age)

In [26]:
def main():
    e1=Employee("John",34)
    e1.display_data()
    
    e1.getdata("Jack",78)
    e1.display_data()

In [27]:
if __name__=="__main__":
    main()

Initialization method called
Name= John Age= 34
Getdata method called
Name= Jack Age= 78

In [28]:
class player:
    
    def __init__(self,name,age,sport):
        self.name=name
        self.age=age
        self.sport=sport
        
    def getdata(self,name,age,sport):
        self.name=name
        self.age=age
        self.sport=sport
        
    def display_data(self):
        print("Name=",self.name,"Age=",self.age,"Sport=",self.sport)

In [29]:
def main():
    p1=player("John",32,"Carrom")
    p1.display_data()
    
    p1.getdata("Jack",23,"Badminton")
    p1.display_data()

In [31]:
if __name__=="__main__":
    main()

Name= John Age= 32 Sport= Carrom
Name= Jack Age= 23 Sport= Badminton