In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("hrdata.csv")
print(df)

   Emp_Id     Name  Age   Position  Salary         DOB
0     101     John   12    Manager   10000   12/2/2001
1     102     Jack   23     Senior   20000   10/1/1998
2     103    Ricky   23  Executive   10000   12/2/1992
3     104    Harry   25      Sales   21000  23/10/1987
4     105    Jacky   45       Head   30000   12/1/1997
5     106     Alex   34     Dealer   21000  31/10/2001
6     107  Florina   23  Assistant   10000   21/1/2000
7     108    Alira   32     Senior   13000   12/2/2003