In [1]:
import sqlite3

In [2]:
#connecting with dbase
db=sqlite3.connect("MYDATABASE.db")

In [4]:
#drop table if exists using execute() method
db.execute("drop table if  exists grades1")

In [5]:
#Creating table
db.execute("create table Grade(Id int,Name text,Score int)")
db.execute("insert into Grade(Id,Name,Score) values(101,'John',98)")
db.execute("insert into Grade(Id,Name,Score) values(102,'Jack',87)")
db.execute("insert into Grade(Id,Name,Score) values(103,'Sohan',67)")
db.execute("insert into Grade(Id,Name,Score) values(105,'Rohan',56)")
db.execute("insert into Grade(Id,Name,Score) values(106,'Ricky',78)")

In [6]:
db.commit()

In [8]:
results=db.execute("select * from Grade ")
results.fetchall()

[(101, 'John', 98),
 (102, 'Jack', 87),
 (103, 'Sohan', 67),
 (105, 'Rohan', 56),
 (106, 'Ricky', 78)]

In [9]:
results=db.execute("select * from Grade order by Id")
for row in results:
    print(row)

(101, 'John', 98)
(102, 'Jack', 87)
(103, 'Sohan', 67)
(105, 'Rohan', 56)
(106, 'Ricky', 78)

In [12]:
results=db.execute("select * from Grade where Name='John'")
for row in results:
    print(row)

(101, 'John', 98)

In [14]:
results=db.execute("select * from Grade where Score>=80 ")
for row in results:
    print(row)

(101, 'John', 98)
(102, 'Jack', 87)

In [15]:
results=db.execute("select all_columns from Grade ")
for row in results:
    print(row)

OperationalError: no such column: all_columns