In [1]:
var=lambda a,b:a+b
var(1,3)

4

In [2]:
c=lambda x:x%2==0
c(4)

True

In [3]:
test=lambda x:x*2
test(5)

10

In [4]:
add=lambda x,y,z:x+y+z
add(3,4,5)

12

In [8]:
#find square
square=lambda x:x**2
square(5)

25

In [10]:
#find squareroot

sqroot=lambda x:x**(1/2)
sqroot(64)

8.0

In [11]:
#find cube
cube=lambda x:x**3
cube(3)

27

In [14]:
#find cuberoot
curoot=lambda x:x**(1/3)
curoot(27)

3.0

In [18]:
addvar=lambda arg1,arg2:arg1+arg2

#Now you can call sum as a function

print("Value of total=",addvar(5,5))

print("Value of total=",addvar(15,5))

Value of total= 10
Value of total= 20

In [19]:
#Converting temperature in celcius
def fahrenheit(T):
    return ((9/5)*T+32)

In [20]:
f=fahrenheit(35)
f

95.0

In [21]:
#Converting temperature to celsius

def celsius(T):
    return ((5/9)*(T-32))

In [22]:
ce=celsius(95)
ce

35.0

In [23]:
def testin():
    x=int(input("Enter the x="))
    y=int(input("Enter the y="))
    t=lambda x,y:x**y
    print(t(x,y))

In [24]:
testin()

Enter the x=2
Enter the y=3
8

In [30]:
def testin1(x,y):
    #x=int(input("Enter the x="))
    #y=int(input("Enter the y="))
    t=lambda x,y:x**y
    print(t(x,y))

In [31]:
testin1(2,3)

8

In [35]:
#Lambda with fahrenheit
F=lambda x: (9/5)*x+32
F(38.4)

101.12

Map in lambda--->It applies on list

In [36]:
mylist=[1,2,3,4]
map(lambda x:x*2,mylist)

In [37]:
list(map(lambda x:x*2,mylist))

[2, 4, 6, 8]

In [38]:
C=[35.2,36.5,37.3,38,39.8]

In [42]:
F=list(map(lambda x:(9/5)*x+32,C))
print(F)

[95.36000000000001, 97.7, 99.14000000000001, 100.40000000000002, 103.64000000000001]

In [40]:
C=list(map(lambda x:(5/9)*(x-32),F))
print(C)

[35.20000000000001, 36.5, 37.300000000000004, 38.00000000000001, 39.800000000000004]

In [46]:
newClist=[round(x,2) %x for x in C]

newClist

[35.2, 0.0, 37.3, 38.0, 39.8]

In [48]:
newlist=['%.2f' %j for j in C]

newlist

['35.20', '36.50', '37.30', '38.00', '39.80']

# FILTER

In [49]:
mylist=[1,2,3,4,5,6,7]
list(filter(lambda x: x>2,mylist))

[3, 4, 5, 6, 7]

Filter will returns the values where function is true

In [50]:
even=lambda x: x%2==0
list(filter(even,range(11)))

[0, 2, 4, 6, 8, 10]

In [51]:
#you can do it by list comprehension

[x for x in range(11) if x%2==0]

[0, 2, 4, 6, 8, 10]