In [1]:
list1=[45,34,23,56,78]

def myfunc(list1):
    for i in list1:
        print(i)

In [2]:
myfunc(list1)

45
34
23
56
78

In [4]:
def myfunc2(fruitlist):
    for i in fruitlist:
        print(i)

In [5]:
fruitlist=['Mango','Apple','Kiwi','Grapes','Orange']

myfunc2(fruitlist)

Mango
Apple
Kiwi
Grapes
Orange

In [6]:
myfunc2(['Apple','Mango','Kiwi','Grapes','Orange'])

Apple
Mango
Kiwi
Grapes
Orange

In [7]:
def myfunc3(planetlist):
    for i in planetlist:
        print(i)

In [9]:
planetlist=['Mercury','Venus','Pluto','Jupyter','Neptune']

myfunc3(planetlist)

Mercury
Venus
Pluto
Jupyter
Neptune

In [14]:
def myfunc4():
    for i in range(2,21,2):
        print(i)

In [15]:
myfunc4()

2
4
6
8
10
12
14
16
18
20

In [26]:
def testfunc():
    for i in range(10):
        if(i==5):
            return 
        print(i)

In [27]:
testfunc()

0
1
2
3
4

In [28]:
def innerfunction():
    print("we are in inner function")

In [33]:
def outerfunction():
    innerfunction()
    testfunc()
    print("Outer function")

In [34]:
outerfunction()

we are in inner function
0
1
2
3
4
Outer function

local variable

In [36]:
def squareof():
    s=7*7
    return s

In [37]:
mysq=squareof()

In [38]:
mysq

49

In [39]:
s #s is a local variabe

NameError: name 's' is not defined

In [40]:
mysq    #global variable

49

In [41]:
p=900

In [42]:
p

900

In [43]:
def testvar():
    global p   #global is declared to access global variables
    print(p)
    p=78
    print(p)

In [44]:
testvar()

900
78

In [46]:
def add(a,b):
    result=a+b
    print(result)

In [48]:
add(10,12)

22

In [49]:
def add1(a,b,c):
    result=a+b+c
    print("Result=",result)

In [50]:
add1(23,45,67)

Result= 135

Variable Number of Arguments

In [51]:
def plusfunc(*args):
    return sum(args)

In [52]:
plusfunc(12,23,45)

80

In [53]:
plusfunc(12,23,13,14,15)

77

In [54]:
def maxfunc(*s):
    return max(s)

In [55]:
maxfunc(12,23,34)

34

In [56]:
maxfunc(34,45,78,89,90,390)

390

In [57]:
def sumfunc(*n):
    s=0
    for i in n:
        s+=i   #s=s+i
    return s

In [58]:
print(sumfunc(12,1))

13

In [60]:
print(sumfunc(1,5,2,1))

9

# LAMBDA functions

In [61]:
test=lambda x:x*2
test(5)

10

In [62]:
test(9)

18

In [63]:
testadd=lambda a,b:a+b
testadd(12,15)

27

In [64]:
m=lambda a,b,c:a+b+c
m(12,1,2)

15

In [65]:
square=lambda x:x**2

square(4)

16

In [66]:
#to find squareroot

sqroot=lambda x:x**(1/2)
sqroot(4)

2.0

In [67]:
#find cube
cube=lambda x:x**3
cube(3)

27

In [68]:
#to find large number
f=lambda a,b,c:max(a,b,c)
f(12,45,14)

45

In [69]:
#find cuberoot

cube=lambda x:x**(1/3)
cube(27)

3.0

In [70]:
#to find small number
s=lambda a,b,c:min(a,b,c)
s(12,2,34)

2

In [71]:
addvar=lambda arg1,arg2:arg1+arg2

#Now you can call sum as a function
print("Value of total=",addvar(12,10))

print("Value of total=",addvar(3,23))

Value of total= 22
Value of total= 26