# INSERTING DATA FROM CSV FILE

In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("E:/scores_database.db")

cursor=db.cursor()

In [3]:
cursor.execute("create table Scores(gender TEXT,student_id int primary key,marks int)")

db.commit()

print(cursor.rowcount,"Record(s) inserted")

-1 Record(s) inserted

In [5]:
with open('File1.csv','r') as file:
    total_records=0
    for row in file:
        cursor.execute("insert into Scores values(?,?,?)",row.split(","))
        db.commit()
        total_records+=1
print(total_records,"Records inserted")

10 Records inserted

In [6]:
result=cursor.execute("Select * from Scores")
result.fetchall()

[('Male', 101, 23),
 ('Male', 102, 55),
 ('Female', 103, 58),
 ('Male', 104, 63),
 ('Female', 105, 36),
 ('Male', 106, 23),
 ('Female', 107, 56),
 ('Male', 108, 89),
 ('Male', 109, 69),
 ('Male', 110, 56)]